<p id="notice"><%= notice %></p>

<h1>Listing Mainlines</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Site</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mainlines.each do |mainline| %>
      <tr>
        <td><%= mainline.name %></td>
        <td><%= mainline.site_id %></td>
        <td><%= link_to 'Show', mainline %></td>
        <td><%= link_to 'Edit', edit_mainline_path(mainline) %></td>
        <td><%= link_to 'Destroy', mainline, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mainline', new_mainline_path %>
